$white: #fff;
$gray: rgba(255, 255, 255, 0.5);
$black: #000;
$black-lighter1: rgba(0, 0, 0, 0.5);
$black-lighter2: rgba(0, 0, 0, 0.2);
$black-lighter3: rgba(0, 0, 0, 0.1);
$orange: #ff3700;

$fast-transition: 0.2s;
$medium-transition: 0.5s;
$long-cubic-transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1);
