@import './_variables.scss';
@import './_fonts.scss';
@import './libs/normalize.scss';

@import './components/all.scss';

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.5);
}
html {
	scroll-behavior: smooth;
}
body {
	background: $black;
	font-family: 'Poppins', sans-serif;
}

@media (max-width: 1024px) {
	.Home {
		margin-top: 100px;
	}
}
