.favorites {
	padding-top: 120px;
	&__container {
		width: 85%;
		margin: 0 auto;
		display: flex;
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 50px 20px;
		&-wrapper {
			height: 180px;
			margin: 5px;
			width: 24%;
			position: relative;

			&:hover {
				.favorites__items-close {
					opacity: 1;
				}
				.favorites__items-item {
					transform: scale(1.05);
					cursor: pointer;
					-webkit-box-shadow: 4px 4px 33px 8px rgba(255, 255, 255, 0.34);
					-moz-box-shadow: 4px 4px 33px 8px rgba(255, 255, 255, 0.34);
					box-shadow: 0 4.5696px 118.81px #000, 0 27.4176px 251.328px #000;
					.favorites__items-item-black {
						opacity: 0.5;
					}
					.favorites__items-item-logo {
						opacity: 1;
					}

					.favorites__items-item-age {
						opacity: 1;
					}
					.favorites__items-item-rating {
						opacity: 1;
					}
				}
			}
		}
		&-close {
			position: absolute;
			top: 15px;
			right: 15px;
			color: $white;
			font-size: 22px;
			opacity: 0;
			transition: $fast-transition;
			z-index: 2;
			&:hover {
				transform: scale(1.2);
				cursor: pointer;
			}
		}
		&-item {
			width: 100%;
			height: 100%;
			display: block;
			background-size: cover !important;
			background-position: center !important;
			transition: $fast-transition;
			border-radius: 10px;
			position: relative;
			.lazy-load-image-background {
				object-fit: cover;
				position: absolute;
				z-index: 0;
				border-radius: 10px;
				transition: $fast-transition;
			}
			&-background {
				border-radius: 10px;
				transition: $fast-transition;
			}
			&-black {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: $black;
				opacity: 0;
				border-radius: 10px;
				transition: $fast-transition;
			}
			&-logo {
				width: 50%;
				height: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: $fast-transition;
			}

			&-rating {
				color: #fff !important;
				font-weight: 700;
				line-height: 100%;
				padding: 6px 10px;
				border-radius: 10px;
				width: 43px;
				position: absolute;
				bottom: 10px;
				left: 15px;
				opacity: 0;
				transition: $fast-transition;
				background-color: $gray;
				&.height-rating {
					background-color: $orange;
				}
			}
			&-age {
				display: inline-block;
				position: absolute;
				right: 15px;
				bottom: 15px;
				transition: $fast-transition;
				color: $white;
				opacity: 0;
			}
			&:hover {
				transform: scale(1.05);
				cursor: pointer;
				-webkit-box-shadow: 4px 4px 33px 8px rgba(255, 255, 255, 0.34);
				-moz-box-shadow: 4px 4px 33px 8px rgba(255, 255, 255, 0.34);
				box-shadow: 0 4.5696px 118.81px #000, 0 27.4176px 251.328px #000;
				.favorites__items-item-black {
					opacity: 0.5;
				}
				.favorites__items-item-logo {
					opacity: 1;
				}

				.favorites__items-item-age {
					opacity: 1;
				}
				.favorites__items-item-rating {
					opacity: 1;
				}
			}
		}
	}
}
