.serials {
	background: $black;
	padding-top: 120px;
	&__container {
		background: $white;
		width: 85%;
		margin: 0 auto;
		display: flex;
	}
	&__filters {
		width: 25%;
		padding: 50px 35px;
	}
	&__filter {
		&-placeholder {
			display: none;
			width: 100%;
			padding: 10px;
			border: none;
			background: $gray-dark;
			border-radius: 5px;
			justify-content: space-between;
			align-items: center;
			&:hover {
				cursor: pointer;
			}
			svg {
				transition: $fast-transition;
				transform: rotate(270deg);
			}
			&.opened {
				svg {
					transform: rotate(90deg);
				}
			}
		}
		&-options {
			display: none;
			position: absolute;
			z-index: 1;
			overflow: auto;
			flex-direction: column;
			min-width: 200px;
			max-height: 240px;
			margin-top: 5px;
			border-radius: 8px;
			background: $white;
			-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.06),
				0 4px 10px rgba(0, 0, 0, 0.06);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.06), 0 4px 10px rgba(0, 0, 0, 0.06);
			&.active {
				display: block;
			}

			li {
				position: relative;
				flex: 1 0 auto;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				min-height: 40px;
				padding: 10px 54px 10px 20px;
				transition: $fast-transition;
				&:hover {
					cursor: pointer;
					background: $gray-dark;
				}
				&.active {
					background: $gray-dark;
				}
			}
		}
		&-p {
			padding-top: 16px;
			padding-bottom: 12px;
			list-style: none;
			font-size: 15px;
			font-weight: 500;
			line-height: 18px;
			svg {
				transform: rotate(270deg);
				margin-right: 20px;
				transition: $fast-transition;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	.active {
		.serials__filter-p {
			svg {
				transform: rotate(90deg);
			}
		}

		.serials__filter-placeholder {
			display: flex;
		}
	}
	&__items-wrapper {
		width: 75%;
		padding: 50px 20px;
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		&-poster {
			width: 20%;
			margin: 15px;
			position: relative;
			&:hover {
				.serials__items-item-favorites {
					opacity: 1;
				}
				.serials__items-item {
					transform: scale(1.05);
					cursor: pointer;
				}
				.serials__items-item-black {
					opacity: 0.5;
				}
				.serials__items-item-rating {
					opacity: 1;
				}
				.serials__items-item-age {
					opacity: 1;
				}
			}
			h4 {
				margin-top: 10px;
			}
		}
		&-skeleton {
			margin: 15px;
		}
		&-item {
			height: 280px;
			background-size: cover !important;
			background-position: center !important;
			transition: $fast-transition;
			border-radius: 10px;
			position: relative;
			display: block;

			&-black {
				position: relative;
				width: 100%;
				height: 100%;
				background: $black;
				opacity: 0;
				transition: $fast-transition;
				border-radius: 10px;
			}
			&-rating {
				color: #fff !important;
				font-weight: 700;
				line-height: 100%;
				padding: 6px 10px;
				border-radius: 10px;
				width: 43px;
				position: relative;
				bottom: 40px;
				left: 15px;
				opacity: 0;
				transition: $fast-transition;
				background-color: $gray;
				&.height-rating {
					background-color: $orange;
				}
			}
			&-age {
				display: inline-block;
				position: absolute;
				right: 15px;
				bottom: 15px;
				transition: $fast-transition;
				color: $white;
				opacity: 0;
			}
			&-favorites {
				display: inline-block;
				position: absolute;
				top: 15px;
				right: 15px;
				color: white;
				font-size: 22px;
				opacity: 0;
				transition: $fast-transition;
				z-index: 2;

				&:hover {
					transform: scale(1.1);
					cursor: pointer;
				}
			}
		}
	}
	@media (max-width: 767px) {
		padding-top: 170px;
		&__container {
			display: block;
			width: 100%;
		}
		&__filters {
			width: 100%;
			padding-bottom: 0;
		}
		&__items-wrapper {
			width: 100%;
		}
		&__items {
			&-poster {
				width: 40%;
			}
		}
	}
}
